@tailwind base;
@tailwind components;
@tailwind utilities;


  
  * {

    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
  }
  


  
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
  }
  
  /* Some Global Classes For icons */
  /* .bi-pencil-square {
    color: var(--green-sea-color);
    margin-right: 15px;
  }
  
  .bi-trash-fill {
    color: var(--red-color);
  } */
  
  /* Scrollbar Classes For Google Chrome */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(187, 179, 179);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  
  ::-webkit-scrollbar-thumb {
    background-color: #292b2c;
    border-radius: 15px;
  }
  

/* header */

@media (min-width: 1024px) {
  .menu-responsive{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    
  }
}
/* closed menu */
@media (max-width: 1024px) {
  .closed{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .open{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);


  }
}
/* 
.serbas {
  background-image: url("../src/assets/images/home-bg.jpg");
} */
nav{
  z-index: 100;
}
.category-link:hover::before{
  background-color: white;
  transition-duration: 1s;
}
.category-link::before {
  content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: black;
}

td,th{
  border: 2px solid #1d2d3d;
  width: 260px;
}
table thead tr {
  background-color: #868686;
}
tr:nth-child(even) {
  background-color: #c6c6c6;
}
tr:nth-child(even):hover {
  background-color: gray;
  transition-duration: .5s;

}
tr{
  color: rgb(19, 19, 19);
}
table div {
  font-weight: bold;
}

.admin-link.active {
  background-color: #a0a0a0;
  color: white;
}

.drop-down-profile {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation-name: drop-down-profile-animate;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes drop-down-profile-animate {
  0%{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
